/* styles.css */
html, body {
    /* font-family: Arial, sans-serif; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: relative;
}

.gradSection {
    background-image: url('imgs/grad.jpeg');
    background-size: cover;
    background-position: center;
}
.chapelSection {
    background-image: url('imgs/chapel.jpeg');
    background-size: cover;
    background-position: center;
}
.mealSection {
    background-image: url('imgs/marion.jpeg');
    background-size: cover;
    background-position: center;
}
.sportSection {
    background-image: url('imgs/sport.jpeg');
    background-size: cover;
    background-position: center;
}
.section360 {
    background-image: url('imgs/360.jpg');
    background-size: cover;
    background-position: center;
}
.blockSection {
    background-image: url('imgs/academics.jpg');
    background-size: cover; 
    background-position: center;
}
.IHSection {
    background-image: url('imgs/ih.jpg');
    background-size: cover;
    background-position: center;
}

.countdown-container {
    position: absolute;
    top: 20%; /* Position a bit from the top */
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.countdown-item {
    text-align: center;
    padding-right: 50px;
    text-shadow: 0 0 7px #fdb515; /* Glow */
    transition: text-shadow 0.3s ease;
}

.countdown-item:hover {
    text-shadow: 0 0 10px #fdb515, 0 0 20px #fdb515, 0 0 30px #fdb515; /* Glow more on hover */
}

/* Numbers */
.countdown-item span {
    display: block;
    font-size: 10rem;
    font-weight: bold;
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: #fdb515;
}

/* Labels */
.countdown-item label {
    display: block;
    font-size: 2.5rem;
    font-family: 'Lato', serif;
    color:#fdb515;
}
.section:nth-child(odd) {
    background-color: #f0f0f0;
}
.section:nth-child(even) {
    background-color: #c0c0c0;
}

.info-container {
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; /*gap between columns */
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
}

.section {
    background-color: red;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Agap between items in column */
}

.info {
    font-size: 2rem;
    color: white;
    text-align: center;
}