/* styles.css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge Scrollbar */
    scrollbar-width: none;  /* Firefox Scrollbar*/
}
.section {
    overflow-y: hidden;;
}
.container::-webkit-scrollbar {
    display: none; /* Removes Scrollbar */
}

/*! COUNTDOWN */
.countdown-container {
    position: absolute;
    top: 20%; /* Position a bit from the top */
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.countdown-item {
    text-align: center;
    padding-right: 50px;
    text-shadow: 0 0 7px #fdb515; /* Glow */
    transition: text-shadow 0.3s ease;
}

.countdown-item:hover {
    text-shadow: 0 0 10px #fdb515, 0 0 20px #fdb515, 0 0 30px #fdb515; /* Glow more on hover */
}

/* Numbers */
.countdown-item span {
    display: block;
    font-size: 12rem;
    font-weight: bold;
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: #fdb515;
}

/* Labels ex. hours */
.countdown-item label {
    display: block;
    font-size: 2.5rem;
    font-family: 'Lato', serif;
    color:#fdb515;
}
.totalCountdownContainer {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    font-family: 'Lato', serif;
    font-size: 2.7rem;
    color:#fdb515;
    margin-top: 46%;
    text-shadow: 0 0 10px #ac8b2f, 0 0 20px #ac8b2f, 0 0 25px #ac8b2f;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* gap between items in column */
}

/*! SECTIONS */
.section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: relative;
}
.overlay {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* gap between value and label */
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    perspective: 1000px;
}
.value {
    position: relative;
    font-size: 70rem;
}
.valueLabel {
    position: relative;
    font-size: 10rem;
}

/*? HOMEPAGE */
.gradSection {
    background-image: url('imgs/grad.webp');
}
.gradOverlay {
    background-image: url('imgs/gradEdit.webp');
}

/*? CHAPEL */
.chapelSection {
    background-image: url('imgs/chapel.webp');
}
.chapelSection .info-container {
    margin-left: 3%;
}
.chapelSection .value, .chapelSection .valueLabel {
    color: #fdb515;
    text-shadow:
        0 0 10px rgba(253, 181, 21, 0.5),
        0 0 20px rgba(253, 181, 21, 0.4),
        0 0 30px rgba(253, 181, 21, 0.3),
        0 0 40px rgba(253, 181, 21, 0.2),
        0 0 50px rgba(253, 181, 21, 0.1),
        0 0 60px rgba(253, 181, 21, 0.2);
}
.chapelSection .valueLabel {
    font-size: 15rem;
}

/*? MEALS */
.mealSection {
    background-image: url('imgs/marion.webp');
}
.mealSection .info-container {
    display: flex;
    flex-direction: column;
    color: #ac8b2f;
}

.mealSection .value, .mealSection .valueLabel {
    position: absolute;
    margin-bottom: 25%;
    color: #ac8b2f;
}

.mealSection .value {
    color: #fdb515;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    font-size: 65rem; 
}

.mealSection .valueLabel {
    color: #ffd457;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    text-align: center;
    white-space: nowrap;
    font-size: 12rem;
    top: 1.05em;
}
.mealSection .credits {
    position: absolute;
    white-space: nowrap;
    transform: translate(60%, 1070%);
    color: white;
}
/*? SPORTS */
.sportSection {
    background-image: url('imgs/sport.webp');
}
.sportOverlay {
    background-image: url('imgs/sportEdit.webp');
}
.sportSection .valueLabel {
    color: #ac8b2f;
    opacity: 70%;
    font-size: 9rem;
    white-space: nowrap;
    transform: rotateY(-55deg) rotateX(40deg);
    margin-top: 31%;
    margin-right: 20%;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add shadow for better blending */
    padding: 10px;
    border-radius: 5px;
}
.sportSection .value {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add shadow for better blending */
    color: #ac8b2f;
    margin-left: 10%;
}

/*? 360S */
.section360 {
    background-image: url('imgs/360.webp');
}
/* .overlay360 {
    background-image: url('imgs/360edit.png');
} */
.section360 .info-container {
    margin-left: 10%;
}
.section360 .value, .section360 .valueLabel {
    color: #fdb515;
}
.section360 .valueLabel {
    font-size: 17rem;
}

/*? BLOCKS */
.blockSection {
    background-image: url('imgs/academics.webp');
}
.blockSection .overlayZach360 {
    background-image: url('imgs/academicsZachEdit.webp');
}
.blockSection .value {
    font-size: 53rem;
    transform: translate(-38%)
}
.blockSection .valueLabel {
    font-size: 10rem;
    white-space: nowrap;
    transform: translate(51%, -170%)
}
.blockSection .value, .blockSection .valueLabel {
    position: absolute;
    color: #ac8b2f;
}

/*? INTERHOUSES */
.ihSection {
    background-image: url('imgs/ih.webp');
}
.ihSection .value{
    font-size: 62rem;
    margin-left: 10%;
    color: #fdb515;
    transform: rotateY(30deg) translateZ(100px);
}
.ihSection .valueLabel{
    color: #fdb515;
    transform: rotateY(30deg) translateZ(-120px);
}

/* Responsive styles */
img { /* to avoid img overflow */
    max-width: 100%;
}
@media (max-width: 1200px) {
    .countdown-item span {
        font-size: 10rem;
    }
    .countdown-item label {
        font-size: 2rem;
    }
    .value {
        font-size: 50rem;
    }
    .valueLabel {
        font-size: 8rem;
    }
    .chapelSection .valueLabel {
        font-size: 12rem;
    }
    .mealSection .valueLabel {
        font-size: 10rem;
    }
    .section360 .valueLabel {
        font-size: 14rem;
    }
    .blockSection .value {
        font-size: 40rem;
    }
}

@media (max-width: 992px) {
    .countdown-item span {
        font-size: 8rem;
    }
    .countdown-item label {
        font-size: 1.5rem;
    }
    .value {
        font-size: 40rem;
    }
    .valueLabel {
        font-size: 6rem;
    }
    .chapelSection .valueLabel {
        font-size: 10rem;
    }
    .mealSection .valueLabel {
        font-size: 8rem;
    }
    .section360 .valueLabel {
        font-size: 12rem;
    }
    .blockSection .value {
        font-size: 30rem;
    }
}

@media (max-width: 768px) {
    .countdown-item span {
        font-size: 6rem;
    }
    .countdown-item label {
        font-size: 1.2rem;
    }
    .value {
        font-size: 30rem;
    }
    .valueLabel {
        font-size: 5rem;
    }
    .chapelSection .valueLabel {
        font-size: 8rem;
    }
    .mealSection .valueLabel {
        font-size: 6rem;
    }
    .section360 .valueLabel {
        font-size: 10rem;
    }
    .blockSection .value {
        font-size: 25rem;
    }
}

@media (max-width: 576px) {
    .countdown-item span {
        font-size: 4rem;
    }
    .countdown-item label {
        font-size: 1rem;
    }
    .value {
        font-size: 20rem;
    }
    .valueLabel {
        font-size: 4rem;
    }
    .chapelSection .valueLabel {
        font-size: 6rem;
    }
    .mealSection .valueLabel {
        font-size: 5rem;
    }
    .section360 .valueLabel {
        font-size: 8rem;
    }
    .blockSection .value {
        font-size: 20rem;
    }
}