/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* perspective: 1000px; */
}

/*! COUNTDOWN */
.countdown-container {
    position: absolute;
    top: 20%; /* Position a bit from the top */
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.countdown-item {
    text-align: center;
    padding-right: 50px;
    text-shadow: 0 0 7px #fdb515; /* Glow */
    transition: text-shadow 0.3s ease;
}

.countdown-item:hover {
    text-shadow: 0 0 10px #fdb515, 0 0 20px #fdb515, 0 0 30px #fdb515; /* Glow more on hover */
}

/* Numbers */
.countdown-item span {
    display: block;
    font-size: 12rem;
    font-weight: bold;
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: #fdb515;
}

/* Labels ex. hours */
.countdown-item label {
    display: block;
    font-size: 2.5rem;
    font-family: 'Lato', serif;
    color:#fdb515;
}
.totalCountdownContainer {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    font-family: 'Lato', serif;
    font-size: 2.7rem;
    color:#fdb515;
    margin-top: 46%;
    text-shadow: 0 0 10px #ac8b2f, 0 0 20px #ac8b2f, 0 0 25px #ac8b2f;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* gap between items in column */
}

/*! SECTIONS */
.section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: relative;
}
.overlay {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.info-container {
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /*gap between columns */
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    perspective: 1000px;
}
.value {
    position: relative;
    font-size: 70rem;
}
.valueLabel {
    position: relative;
    font-size: 10rem;
}

/*? HOMEPAGE */
.gradSection {
    background-image: url('imgs/grad.jpeg');
}
.gradOverlay {
    background-image: url('imgs/gradEdit.png');
}

/*? CHAPEL */
.chapelSection {
    background-image: url('imgs/chapel.jpeg');
}
.chapelSection .value, .chapelSection .valueLabel{
    /* margin-bottom: 20% */
    /* transform-origin: left; */
}
/*? MEALS */
.mealSection {
    background-image: url('imgs/marion.jpeg');
}

/*? SPORTS */
.sportSection {
    background-image: url('imgs/sport.jpeg');
}
.sportOverlay {
    background-image: url('imgs/sportEdit.png');
}
.sportSection .valueLabel {
    margin-top: 30%;
    margin-right: 5%;
}
.sportSection .value{
    transform: rotateY('50deg');
    color: #ac8b2f;

}

/*? 360S */
.section360 {
    background-image: url('imgs/360.jpg');
    position: relative;
    width: 100%;
    height: 100%;
}
/* .overlay360 {
    background-image: url('imgs/360edit.png');
} */
.section360 .value, .section360 .valueLabel{
    color: #fdb515;
}

/*? BLOCKS */
.blockSection {
    background-image: url('imgs/academics.jpg');
}
.blockSection .value {
    font-size: 60rem;
}
.blockSection .value, .blockSection .valueLabel {
    color: #ac8b2f;
}

/*? INTERHOUSES */
.ihSection {
    background-image: url('imgs/ih.jpg');
}
.ihSection .value{
    font-size: 62rem;
    margin-left: 10%;
    color: #fdb515;
    transform: rotateY(30deg) translateZ(100px);
}
.ihSection .valueLabel{
    color: #fdb515;
    transform: rotateY(30deg) translateZ(-120px);
}